Repository miguelRiverat/btn-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

delete Readme
  README.md
Due: none

adjust graph
  src/examples/graph.js
Due: eslint --fix

adjust
  .huskyrc
  README.md
  __tests__/components/node.test.js
  package.json
  src/components/graph-view.js
  src/components/node.js
  src/examples/graph.js
  src/examples/index.html
  typings/index.d.ts
Due: eslint --fix, prettier --write

Adjustment
  src/components/graph-view.js
  src/components/node.js
  src/examples/graph.js
Due: eslint --fix

Add dijkstra
  src/examples/graph.js
Due: eslint --fix

Rutas ambas direcciones
  src/components/arrowhead-marker.js
  src/components/graph-view.js
  src/examples/graph-config.js
  src/examples/graph.js
Due: eslint --fix

add
  src/examples/app.scss
  src/examples/graph.js
  src/styles/main.scss
Due: eslint --fix

add
  src/examples/graph.js
Due: eslint --fix

change server
  src/examples/graph.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.js
  prettier --write: any of: *.json
